.btn {
    @apply
        font-ropa
        text-lg
        px-3
        inline-block;
    background: theme('colors.green');
    height: 35px;
    line-height: 36px;
    color: #fff;
    box-shadow: 5px 5px 0 0 theme('colors.yellow');

    &:focus {
        border: 0;
        outline: 0;
    }

    &--large {
        @apply
            text-xl
            px-4;
        height: 40px;
        line-height: 41px;
    }
}
