---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import { getPage } from '../lib/sanity';

const page = await getPage('charity');
---

<Layout
  title={page?.seo?.metaTitle ?? 'Charity work // Sitwell Cycling Club'}
  description={page?.seo?.metaDescription ?? 'Raising vital funds for local charities since 2016.'}
>
  <PageHeader page={page} title="Charity work" subtitle="We raise vital funds for local charities.">
    <p class="lg:w-3/4">In 2019 we raised over £12,250 for <a href="https://www.rotherhamhospice.org.uk/">Rotherham Hospice</a> through a range of activities and in the past we&apos;ve also raised funds for the <a href="https://www.cysticfibrosis.org.uk/">Cystic Fibrosis Trust</a>. This year our members have chosen <a href="https://www.bluebellwood.org/">Bluebell Wood</a> as the club&apos;s charity. Be on the lookout for ways to get involved.</p>
  </PageHeader>
  <section class="rides w-full px-5 lg:px-10 mb-20 grid gap-5 md:grid-cols-2 lg:grid-cols-4">
    <picture class="block w-full md:col-span-2 lg:col-span-4">
      <source srcset="/img/rotherham-hospice.webp" type="image/webp" />
      <img src="/img/rotherham-hospice.jpg" class="w-full" alt="A landscape photograph of Club members outside Rotherham Hospice" width="1200" height="572" />
    </picture>
  </section>
</Layout>
