---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import { getPage } from '../lib/sanity';

const page = await getPage('races');
---

<Layout
  title={page?.seo?.metaTitle ?? 'Races // Sitwell Cycling Club'}
  description={page?.seo?.metaDescription ?? 'We host races. We support races. We race.'}
>
  <PageHeader page={page} title="Races" subtitle="We host races. We support races. We race.">
    <p class="lg:w-3/4">Up hills, down hills, round tracks, circuits, and off road. We&apos;ve even had our stripes represented at National Championships. Throughout the year we host a handful of races, across multiple disciplines and age groups. Our members also support grassroots and national level races through the <a href="https://www.britishcycling.org.uk/accreditedmarshal">British Cycling Accredited Marshal Scheme</a>, as well as just being an extra pair of hands when required. <em>All of our races are <a href="https://epic-group.org/">EPiC Kitemark</a> certified</em>.</p>
  </PageHeader>
  <section class="races w-full px-5 lg:px-10 mb-20 grid gap-5 md:grid-cols-2 lg:grid-cols-4">
    <div class="border-t-8 border-amber pt-5">
      <a href="https://www.britishcycling.org.uk/events/details/326708/Ranskill-Gold-2025---Ride-of-the-Falling-Leaves-Edition" class="relative block w-full mb-5">
        <img src="/img/ranskill.webp" class="block w-full" alt="A photograph of members at Ranskill" width="285" height="285" />
        <img src="/img/bc.webp" class="absolute bottom-5 right-5" alt="The British Cycling logo" width="88" height="50" />
        <button class="btn absolute top-5 left-5" aria-label="Enter now">Enter now</button>
      </a>
      <h3 class="text-base font-ropa block uppercase opacity-50">October</h3>
      <h2 class="text-2xl font-ropa text-amber">Ranskill Gold - Ride of the Falling Leaves Edition</h2>
      <p class="text-sm mb-2">Three routes to choose from (40/60/80 miles) using familiar roads out east. Money raised goes to Bluebell Wood Children&apos;s Hospice.</p>
      <p class="text-sm mb-1">Sign on: <strong>Ulley Village Hall, S26 3YD</strong></p>
      <p class="text-sm mb-2">Fee: <strong>£10</strong></p>
    </div>
  </section>
</Layout>
